{% extends 'base.html.twig' %}

{% block title %}Backlog index{% endblock %}

{% block body %}
    <h1>Backlog index</h1>

    <div class="search-bar">
        <form action="{{ path('app_spotify_search') }}" method="get">
            <input type="text" name="query" placeholder="Search..." required>
            <button type="submit">Search</button>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for backlog in backlogs %}
            <tr>
                <td>{{ backlog.id }}</td>
                <td>{{ backlog.name }}</td>
                <td>
                    <a href="{{ path('app_backlog_show', {'uuid': backlog.uuid, 'slug': backlog.slug}) }}">show</a>
                    <a href="{{ path('app_backlog_edit', {'uuid': backlog.uuid, 'slug': backlog.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backlog_new') }}">Create new</a>
{% endblock %}
