{% extends 'base.html.twig' %}

{% block title %}On My List{% endblock %}

{% block body %}
    <div class="background-image">
        <img src="{{ asset('images/LastFMcollageAllTime2025.jpg') }}" alt="Background Image" class="bg-image">
        
        <header class="header-content">

            <img src="{{ asset('images/Logo_transparent.png') }}" alt="Logo Image" class="main-logo">

            <div class="search-bar">

                <form action="{{ path('app_spotify_search') }}" method="get">
                    <div class="sfdsfdsf" autocomplete="off" aria-label="Search backlog items">
                        <h2 class="title title-subtitle">Which artist have you been meaning to listen to? Which album is on your list?</h2>
                        <label for="search-spotify" class="search-label">Search for an artist or album:</label>
                        <input 
                        id="search-spotify" 
                        class="search-spotify-input" 
                        type="text" 
                        name="query" 
                        placeholder="..." 
                        required                             
                        aria-label="Search backlog for artists or albums in your backlog"
                        >
                        <button type="submit" class="btn">Search</button>
                    </div>
                </form>
            </div>
        </header>

        {# <a href="{{ path('app_backlog_new') }}" class="btn btn-primary">Start a new Backlog</a>

        <a href="{{ path('app_backlog_overview') }}">Backlog overview</a> #}
    </div>

{% endblock %}
