{% extends 'base.html.twig' %}

{% block title %}Search Results for "{{ query }}"{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    <script src="{{ asset('js/modal.js') }}" type="module" defer></script>
{% endblock %}

{% block body %}
  <h1>Search results for "{{ query }}"</h1>

  <dialog id="backlogDialog">
  <form id="backlogForm" method="post" action="{{ path('app_backlog_additem') }}">
    <input type="hidden" name="type" id="modal-type">
    <input type="hidden" name="name" id="modal-name">
    <input type="hidden" name="spotify_id" id="modal-spotify-id">
    <input type="hidden" name="image" id="modal-image">
    <input type="hidden" name="release_date" id="modal-release-date">
    <input type="hidden" name="artists" id="modal-artists">

    <p>
      <label> Choose a backlog:
        <select name="backlog_uuid" id="modal-backlog-select" required>
          {% for backlog in backlogs %}
            <option value="{{ backlog.uuid }}">{{ backlog.name }}</option>
          {% endfor %}
        </select>
      </label>
    </p>

    <div>
      <button value="cancel" formmethod="dialog">Cancel</button>
      <button id="confirmButton" type="submit">Add</button>
    </div>
  </form>
  </dialog>
  
  <div class="results">
    {% for item in results %}
      <div class="result">
        {% if item.image %}
          <img src="{{ item.image }}" alt="{{ item.name }}" width="150">
        {% endif %}

        <h3>{{ item.name }}</h3>

        {% if item.type == 'artist' %}
          {# <p><strong>Type:</strong> Artist</p> #}
        {% elseif item.type == 'album' %}
          {# <p><strong>Type:</strong> Album</p> #}
          <p><strong>Artist:</strong> {{ item.artist_display }}</p>
          <p><strong>Released:</strong> {{ item.release_date }}</p>
        {% endif %}
        
        <button 
          type="button"
          class="open-backlog-modal"
          data-type="{{ item.type }}"
          data-name="{{ item.name }}"
          data-spotify-id="{{ item.spotify_id }}"
          data-image="{{ item.image }}"
          {% if item.type == 'album' %}
            data-release-date="{{ item.release_date }}"
            data-artists="{{ item.artists|json_encode() }}"
          {% endif %}
        >
          Add to Backlog
        </button>
      </div>
    {% else %}
      <p>No results found.</p>
      
    {% endfor %}
  </div>

  <a href="{{ path('app_backlog_index') }}">Back to Backlog</a>

{% endblock %}
